<!-- footer  -->
<section class="page-section" id="footer">
    <div class="container-fluid footer-bg">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="footer-brand">ashutosh<span class="dot">.</span></h2>
                <h6 class="section-subheading">
                    <i>
                        ©
                        <span id="copyright-year">2018</span>
                        . All Right Reserved, Designed By Ashutosh Soni.
                    </i>
                </h6>
            </div>

        </div>

    </div>
</section>
