<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{page.title}}</title>

        <!-- bootstrap css -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <!-- aos css -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

        <!-- google fonts -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Muli">
        <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>

        <!-- fontawesome css -->
        <link rel="stylesheet"
              href="https://pro.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev"
              crossorigin="anonymous">
        <!-- template custom css -->
        <link href="assets/css/ashutoshsoni.css" rel="stylesheet">
        <link href="assets/css/vendor/canvas-cloud.css" rel="stylesheet">
    </head>

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    <b>ashutosh</b><b class="dot">.</b></a>
                <button class="navbar-toggler navbar-toggler-right"
                        type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger"
                               href="#about">About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger"
                               href="#experience">Experience & Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger"
                               href="#skills">Skills</a>
                        </li>
                        <!-- <li class="nav-item">
                             <a class="nav-link js-scroll-trigger"
                             href="#blogs">Blog</a>
                             </li> -->
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger"
                               href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="masthead">
            <div class="container">
                <div class="row intro-text">
                    <div class="col-lg-12 intro-lead-in">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="intro-box">
                                    <div class="intro-greeting text-muted">
                                        Hey there!
                                    </div>
                                    <div class="intro-heading">
                                        <span class="text-muted">I am</span>
                                        <span class="typewrite display-4" data-period="2000" data-type='{{page.typewriter}}'></span>
                                        <span class="wrap"></span>

                                    </div>
                                    <div class="intro-sub-heading text-muted">
                                        <p>{{page.intro-subheading}}</p>

                                    </div>
                                    <div class="intro-footer">
                                        <div class="intro-footer-left">
                                            <i>Connect at:</i>
                                        </div>

                                        <div class="intro-footer-right">
                                            <span>
                                                <a href={{page.link-linkedin}}>
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </span>
                                            <span>
                                                <a href={{page.link-facebook}}>
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </span>

                                        </div>

                                    </div>
                                    <div class="intro-footer-btn">
                                        <a href="#about" role="button" class="btn btn-outline-danger custom-btn js-scroll-trigger">KNOW MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 text-center">
                                <img src="assets/images/ashutosh-soni-cover.png" class="frame-image image-responsive" alt="ashutosh soni">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <p>{{page.know-more-heading}}</p>
                            </div>
                            <div class="col-12">
                                <div id="scroll-up">
                                    <a class="js-scroll-trigger" href="#about">
                                        <span></span>
                                    </a>
                                </div>
                                <div class="scroll-up-label">
                                    <h6>KNOW MORE</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>





        <!-- About me -->
        <section class="page-section" id="about">
            <div class="container-fluid section-bg section-spacing">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading text-uppercase" data-aos="fade-up">About me</h2>
                        <h4 class="section-subheading text-muted" data-aos="fade-up"><i>
                            {{page.about-sub-heading}}</i></h4>
                    </div>
                </div>

                <div class="row text-center" data-aos="fade-up">
                    <div class="col-sm-12 profile-points">
                        <ul>
                            {% for i in page.profile-points %}
                            <li>
                                {{i}}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm" data-aos="fade-up">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x font-awesome-custom-bg"></i>
                            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">B.Tech Graduate</h4>
                        <p class="text-muted">
                            Computer Science & Engineering (Hons.)
                        </p>

                    </div>

                    <div class="col-sm" data-aos="fade-up">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x font-awesome-custom-bg"></i>
                            <i class="fas fa-code fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Functional & OOPs programmer</h4>
                        <p class="text-muted">
                            Clojure(Script), Javascript, Python etc.
                        </p>

                    </div>

                    <div class="col-sm" data-aos="fade-up">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x font-awesome-custom-bg"></i>
                            <i class="fas fa-recycle fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Workflow using SDLC models</h4>
                        <p class="text-muted">
                            Agile, waterfall etc
                        </p>

                    </div>

                    <div class="col-sm" data-aos="fade-up">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x font-awesome-custom-bg"></i>
                            <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Full-stack skills</h4>
                        <p class="text-muted">
                            Azure Cloud computing, DevOps etc
                        </p>

                    </div>
                </div>

            </div>
        </section>


        <!-- Experience & projects -->
        <section class="page-section" id="experience">
            <div class="container section-spacing">
                <div class="row text-center">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase" data-aos="fade-right">Experience and Projects</h2>
                        <h4 class="section-subheading text-muted" data-aos="fade-up"><i>
                            Professional experience of <b>2+</b> years</i></h4>
                    </div>
                </div>
                <div class="row" >

                    {% for i in page.experience %}

                    <!-- start of card -->
                    <div class="col-sm-12 card-experience" data-aos="fade-left">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>{{i.designation}}</h4>

                            </div>
                            <div class="col-md-2">
                                <i>{{i.duration}}</i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5><a href={{i.link}}>{{i.company}}</a></h5>
                                <p>
                                    {{i.company-des}}
                                </p>
                            </div>
                            <div class="col-md-12">
                                <span class="project-count">3</span>
                                <span class="project-legend"><b>Projects</b></span>
                            </div>
                            <!-- Project start -->
                            {% for j in i.projects%}
                            <div class="col-md-12">
                                <ul>
                                    <li class="project-title">
                                        <h4>{{j.title}}</h4>
                                        <p>{{j.duration}}</p>
                                        <p>{{j.description}} </p>
                                        <p><b>Roles & Responsibilites:</b>
                                            {{j.roles}}
                                        </p>
                                        <p><b>Enviroment & technology:</b>
                                            {{j.tech}}
                                        </p>

                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                            <!-- Project ends -->

                        </div>
                    </div>
                    <!-- end of card -->

                    {% endfor %}
                    
                </div>
            </div>
        </section>

        <!-- Skills  -->
        <section class="page-section" id="skills">
            <div class="container-fluid section-bg section-spacing">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase" data-aos="fade-up">Skills</h2>
                        <h4 class="section-subheading text-muted" data-aos="fade-up"><i>
                            "Skills pay the bills"</i></h4>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 skills-left-box" data-aos="fade-up">
                            <div class="row">
                                <h1>
                                    Every Day is a New Challenge
                                </h1>
                            </div>
                            <div class="row">
                                <b>Programming language: </b>
                                <span class="skills-set-val">
                                    {{page.skills.lang}}
                                </span>
                            </div>
                            <div class="row">
                                <b>Front-end Technologies: </b>
                                <span class="skills-set-val">
                                  {{page.skills.frontend}}
                                </span>
                            </div>
                            <div class="row">
                                <b>Back-end Technologies: </b>
                                <span class="skills-set-val">
                                    {{page.skills.backend}}
                                </span>
                            </div>
                            <div class="row">
                                <b>Cloud Computing: </b>
                                <span class="skills-set-val">
                                   {{page.skills.cloud}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 text-center" data-aos="fade-up">
                            <div id="myCanvasContainer">
                                <canvas width="350" height="300" id="myCanvas">
                                    <p>Anything in here will be replaced on browsers that support the canvas element</p>
                                </canvas>
                            </div>
                            <div id="tags">
                                <ul>
                                    <li><a href="#">clojure</a></li>
                                    <li><a href="#">ClojureScript</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                    <li><a href="#">node.js</a></li>
                                    <li><a href="#">React.js</a></li>
                                    <li><a href="#">Azure</a></li>
                                    <li><a href="#">linux</a></li>
                                    <li><a href="#">HTML 5</a></li>
                                    <li><a href="#">CSS 3</a></li>
                                    <li><a href="#">Reframe</a></li>
                                </ul>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Blogs  -->
        <!-- 
             <section class="page-section" id="blogs">
             <div class="container section-spacing">
             <div class="row text-center">
             <div class="col-lg-12 text-center">
             <h2 class="section-heading text-uppercase" data-aos="fade-right">Blogs</h2>
             <h4 class="section-subheading text-muted" data-aos="fade-up"><i>
             Professional experience of <b>2+</b> years</i></h4>
             </div>
             </div>
             <div class="row" >
             <div class="col-sm blog-holder" data-aos="fade-up-right">
             <div class="col-sm-12 card-blog">
             Introduction to clojure
             </div>
             </div>
             <div class="col-sm blog-holder" data-aos="fade-up-right">
             <div class="col-sm-12 card-blog">
             Introduction to clojure
             </div>
             </div>

             </div>

             <div class="row text-center">
             <div class="col-sm-12 blog-btn" data-aos="fade-up">
             <a href="#" role="button" class="btn btn-outline-danger custom-btn js-scroll-trigger">READ MORE</a>
             </div>
             </div>

             </div>
             </section> -->

        <!-- Contact  -->
        <section class="page-section" id="contact">
            <div class="container-fluid section-spacing">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase" >Contact</h2>
                        <!-- <h4 class="section-subheading text-muted"><i> "Skills pay the bills"</i></h4> -->
                    </div>
                </div>
                <div class="container">
                    <div class="row p-3 text-center">
                        <div class="col-sm">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x font-awesome-custom-bg"></i>
                                <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">New Delhi, India</h4>
                        </div>
                        <div class="col-sm">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x font-awesome-custom-bg"></i>
                                <i class="fas fa-mobile-alt fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">+91 9149262609</h4>
                        </div>
                        <div class="col-sm">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x font-awesome-custom-bg"></i>
                                <i class="fas fa-paper-plane fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">contact@ashutoshsoni.com</h4>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <!-- footer  -->
        {% include footer.html %}


        <!-- Bootstrap core JavaCloud-Loding -->
        <script src="assets/js/vendor/jquery.min.js"></script>
        <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>

        <!-- Plugin Javascript -->
        <script src="assets/js/vendor/jquery.easing.min.js"></script>
        <script src="assets/js/scrolling-nav.js"></script>

        <!-- tagcanvas  2.9 -->
        <script src="assets/js/vendor/jquery.tagcanvas.min.js"></script>

        <!-- AOS  -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
         AOS.init({
             duration: 1200,
         });
        </script>

        <!-- Custom script for this template -->
        <script src="assets/js/custom.js"></script>

    </body>
</html>
